In [217]:
import csv
import string
import pickle
import textstat
import numpy as np
import pandas as pd

from tqdm import tqdm
from langdetect import detect
from spellchecker import SpellChecker

In [218]:
AllQueries = pickle.load( open( "data/AllQueries4746.p", "rb" ) )
AllQueries.head()

                     query  class
0      US civil war causes      0
1           scooter brands      0
2  scooter brands reliable      0
3                  scooter      0
4            scooter cheap      0

In [219]:
queries = AllQueries['query'].tolist()

##  allFeatures DataFrame

Initiate a DataFrame to accumulate all features

In [220]:
allFeatures = AllQueries.copy()

## Spelling

In [221]:
# oneOff=0
# for can in list(spell.candidates('dg')):
#     if can in list(spell.edit_distance_1('dg')):
#         oneOff += 1
#     break
# oneOff

In [222]:
# spell.edit_distance_1('dg').intersection(spell.candidates('dg'))

In [223]:
#spell.edit_distance_1('hre')

In [224]:
#spell.candidates('hre')

In [225]:
# name(queries)

In [228]:
def Spelling(queries):
    
    wsle=pd.read_csv('data/KidSpell/Web_Search_Lab_Errors.csv',
                usecols=['spelling']).spelling.tolist()
    
    wsie=pd.read_csv('data/KidSpell/Web_Search_Informal_Errors.csv',
                usecols=['spelling']).spelling.tolist()
    
    ewe=pd.read_csv('data/KidSpell/Essay_Writing_Errors.csv',
                usecols=['Spelling']).Spelling.tolist()
    
    kidsMispelled= set(wsle+wsie+ewe)
    
    spell = SpellChecker()
    kidsError=[]
    oneOffError = []
    misspelledCol=[]
    for i, query in enumerate(queries):

        query=query.translate(str.maketrans('', '', string.punctuation)) # -- remove all panctuations

        misspelled=spell.unknown(query.split()) 

        missed_k=misspelled.intersection(kidsMispelled)
        kidsError.append(len(missed_k))
        misspelledCol.append(len(misspelled))

        oneOff = 0
        try:
            for word in misspelled:
                mis_one=spell.edit_distance_1(word).\
                intersection(spell.candidates(word))

                if len(mis_one) > 0:
                    oneOff+=1
            oneOffError.append(oneOff)

        except:
            oneOffError.append(-1)

    #     if len(missed_k) != 0:
    #         print(i, len(missed_k), missed_k)
        #print(len(misspelled.intersection(kidsMispelled)))
        #print(misspelled)
        
    allFeatures=(
        allFeatures
        .assign(kidsError=kidsError)
        .assign(misspelledCol=misspelledCol)
        .assign(oneOffError=oneOffError)
    )
#     print(allFeatures)
    
    return allFeatures

In [229]:
Spelling(queries)

UnboundLocalError: local variable 'allFeatures' referenced before assignment

In [ ]:
# spell = SpellChecker()
# kidsError=[]
# oneOffError = []
# misspelledCol=[]
# for i, query in enumerate(queries):
    
#     query=query.translate(str.maketrans('', '', string.punctuation)) # -- remove all panctuations
    
#     misspelled=spell.unknown(query.split()) 
    
#     missed_k=misspelled.intersection(kidsMispelled)
#     kidsError.append(len(missed_k))
#     misspelledCol.append(len(misspelled))
    
#     oneOff = 0
#     try:
#         for word in misspelled:
#             mis_one=spell.edit_distance_1(word).\
#             intersection(spell.candidates(word))
            
#             if len(mis_one) > 0:
#                 oneOff+=1
#         oneOffError.append(oneOff)
                
#     except:
#         oneOffError.append(-1)
        
# #     if len(missed_k) != 0:
# #         print(i, len(missed_k), missed_k)
#     #print(len(misspelled.intersection(kidsMispelled)))
    
    
    
#     #print(misspelled)
# allFeatures=(
#     allFeatures
#     .assign(kidsError=kidsError)
#     .assign(misspelledCol=misspelledCol)
#     .assign(oneOffError=oneOffError)
# ).head(10)

In [ ]:
type(spell.unknown('I live in Nwe Yokr'.split()))

In [ ]:
j={'dribiling', 'dring', 'Yokr'}
len(j.intersection(kidsMispelled))

In [143]:
kidsMispelled

{nan,
 'ese',
 'dribiling',
 'duscoverd',
 'dring',
 'mi',
 'chude',
 'pooring',
 'huging',
 'comperyhention',
 'silc',
 'dolfen',
 'fot',
 'makeing',
 'way',
 'so',
 'stoveris',
 'armer',
 'cryed',
 'putatos',
 'choclete',
 'choaclet',
 'fivret',
 'varey',
 'ovoyd',
 'cudly',
 'smel',
 'soseg',
 'miyols',
 'scientact',
 'tarnamint',
 'litel',
 'othe',
 'woulb',
 'desiner',
 'nasttek',
 'pishis',
 'eveything',
 'dg',
 'nastteks',
 'smels',
 'snacke',
 'crard',
 'beick',
 'peple',
 'faerl',
 'neks',
 'whith',
 'cosen',
 'lemen',
 'gim',
 "dosen't",
 'grand',
 'cood',
 'planit',
 'rids',
 'riped',
 'cut',
 'bater ',
 'kice',
 'writeing',
 'snc',
 'travelling',
 'know',
 'eliffent',
 'weard',
 'up stars',
 'favrite',
 'sowed',
 'upcomeing',
 'cewed',
 'ges',
 'comen',
 'scientce',
 'hog',
 'your',
 'balt',
 'anamal',
 'swiming',
 'cumpiter',
 'stiek',
 'cheescake',
 'wepin',
 'tastes',
 'bicas',
 'sam',
 'thas',
 'wate',
 'apon',
 'fortunit',
 'colerful',
 'becaus',
 'sed',
 'brater',
 'stintist',
 "Luige's",
 'blod',
 'rely',
 'fead',
 'unecorn',
 'hed',
 'holl',
 'joks',
 'yare',
 'stars',
 'btit',
 'frum',
 'cak',
 'chokelet',
 'da',
 'coll',
 'pistile',
 'perogeram',
 'fiyor',
 'paril',
 'husche',
 'fregot',
 'cleank',
 'rood',
 'sqirt',
 'sulfer',
 'copeter',
 'win',
 'being',
 'hangre',
 'stad',
 'chec',
 'thaer',
 'intrdoos',
 'vary',
 'mountian',
 'egale',
 'won',
 'gowen',
 'famelli',
 'vacashin',
 'mushean',
 'deth',
 'hospitole',
 'animole',
 'faks',
 'erath',
 'wok',
 'rum',
 'dans',
 'chapinship',
 'amoe',
 'Texes',
 'custome',
 'muki',
 'grabed',
 'evething',
 'incretibal',
 'rideing',
 'perfermer',
 'taseted',
 'grem',
 'wh',
 'sefe',
 'monky',
 'abowt',
 'heer',
 'spicific',
 'shautd',
 'clasrums',
 'coms',
 'upstars',
 'adawt',
 'dolfin',
 'numbr',
 'wode',
 'culers',
 'stumick',
 'thar',
 'clamed',
 'boke',
 'crazzy',
 'hoomadrobots',
 'concer',
 'oniens',
 'choclat',
 'here',
 'summery',
 'korts',
 'gloff',
 'qustions',
 'costum',
 'difrint',
 'climed',
 'labron',
 'mised',
 'ginn',
 'cadig',
 'campling',
 'pla',
 'cin',
 'hemeyoc',
 'fierst',
 'chincin',
 'stiripes',
 'probly',
 'sek',
 'gos',
 'peperone',
 'peapl',
 'kide',
 'famos',
 'coopon',
 'freat',
 'controled',
 'everwone',
 'sincerly',
 'cukee',
 'tichor',
 'cot',
 'rodot',
 'ston',
 'wat',
 'steem',
 'cpuder',
 'compoused',
 'looket',
 'gevs',
 'wus',
 'rlrcsts',
 'seid',
 'frends',
 'sodrday',
 'care',
 'gose',
 'though',
 'rete',
 'peepoll',
 'inchrodoost',
 'skard',
 'sem',
 'aellien',
 'fiteing',
 'neighboors',
 'minits',
 'kug',
 'surching',
 'dont',
 'schoal',
 'hamr',
 'ups stars',
 'aproprit',
 'thot',
 'wichis',
 'fcts',
 'responponsible',
 'chickin',
 'ded',
 'whnt',
 'beacuse',
 'welf wof',
 'liweegees',
 'yus',
 'figer',
 'fer',
 'juping',
 'ave',
 'villajg',
 'chinkin',
 'cip',
 'robo',
 'jerny',
 'waerled',
 'evrewan',
 'peise',
 'modas',
 'a pone',
 'hapened',
 'som',
 'maks',
 'loded',
 'fowned',
 'plai',
 'fite',
 'peik',
 'taset',
 'becus',
 'watever',
 'skreming',
 'Jonsun',
 'tat',
 'prite',
 'dasen',
 'Lackrs',
 'cicin',
 'cousens',
 'yowst',
 'shi',
 'goe',
 'ubout',
 'anmls',
 'lest',
 'cold',
 'choise',
 'smoak',
 'showes',
 'billbord',
 'rowned',
 'casis',
 'oreng',
 'wood',
 'fruty',
 'wunt',
 'step',
 'shoo',
 'tasit',
 'muole',
 'ining',
 'dunot',
 'stor',
 'es',
 'okword',
 'af',
 'slied',
 'aetn',
 'rictengal',
 'portections',
 'pickture',
 'leving',
 'pots',
 'lien',
 'wen',
 'wit',
 'may',
 'mous',
 'farst',
 'tortch',
 'sqeke',
 'whants',
 'safty',
 'dume',
 'supor',
 'gofrend',
 'bout',
 'hontid',
 'wolde',
 'moch',
 "din't",
 'storme',
 'madeb',
 'but',
 'fote',
 'cnput',
 'relly',
 'stek',
 'tcholl',
 'frice',
 'robbsoij',
 'frite',
 'chard',
 'silkey',
 'mene',
 'prgramr',
 'shrk',
 'scincetist',
 'mi ',
 'sleded',
 'caching',
 'wana',
 'si',
 'ro',
 'soop',
 'oder',
 'trys',
 'hows',
 'alectrek',
 'scentist',
 'rad',
 'choowing',
 'exsmstopm',
 'fortunite',
 'iterresting',
 'chokolet',
 'magickl',
 'vesets',
 'tok',
 'faca',
 'one',
 'fol',
 'ove',
 'frunt',
 'tasts',
 'bateroosh',
 'oshan',
 'and',
 'mountans',
 'sof',
 'ilashes',
 'ticher',
 'brock',
 'scorpeon',
 'wint',
 'explosin',
 'olwas',
 'flufe',
 'plastik',
 'spacecrafe',
 'lian',
 'scientace',
 'vid',
 'sliped',
 'reses',
 'lowed',
 'cercus',
 'yumy',
 'abaout',
 'lisan',
 'bumbolbee',
 'wot',
 'poot',
 'frenz',
 'chrch',
 'nois',
 'jus',
 'progeramer',
 'war',
 'sester',
 'fand',
 'caock',
 'perpol',
 'hundrid',
 'stike',
 'hole',
 'tast',
 'trampolene',
 'quistins',
 'spel',
 'dilishes',
 'scientac',
 'oridi',
 'sneack',
 'sum thing',
 'woched',
 'bred',
 'chees',
 'brothe',
 'fleep',
 'landid',
 'throgh',
 'battleing',
 'frist',
 'bne',
 'furtionet',
 'lite',
 'plo',
 'tedye',
 'how',
 'hom',
 'happly',
 'feger',
 'thier',
 'fram',
 'focx',
 'kep',
 'raning',
 'sugry',
 'agen',
 'hotit',
 'squair',
 'solt',
 'barls',
 'explist',
 'sratch',
 'stude',
 'vapirs',
 'pitchers',
 'prity',
 'skwish',
 'whoud',
 'bu',
 'mor',
 'travling',
 'folow',
 'desine',
 'or',
 'alwase',
 'slipt',
 'cooice',
 'nighte',
 'rand',
 'ferist',
 'be case',
 'techology',
 'sad',
 'takeing',
 'somwan',
 'desendens',
 'drot',
 'whereing',
 'prepol',
 'wofol',
 'gras',
 'oll',
 'scrind',
 'becuse',
 'flours',
 'onece',
 'repe',
 'colest',
 'eletric',
 'beg',
 'donis',
 'labartory',
 'redy',
 "sh'll",
 'slead',
 'choclit',
 'spoyel',
 'utack',
 'rote',
 'facks',
 'anser',
 'sot',
 'mammles',
 'entr',
 'eey',
 'punat butter',
 'ocen',
 'shud',
 'bubll',
 'waned',
 'spieck',
 'lac',
 'rid ',
 'cian',
 'summor',
 'bananus',
 'mean',
 'cruncing',
 'cum',
 'maos',
 'intristing',
 'wors',
 'macanical',
 'sipl',
 'difrent',
 'becuum',
 'inplisit',
 'leared',
 'sow',
 'jamse',
 'herd',
 'enistein',
 'anamol',
 'now',
 'whos',
 'libron',
 'jest',
 'nexst',
 'mete',
 'frift',
 'famis',
 'blud',
 'tit',
 'git',
 'chocroch',
 'lokrs',
 'a lout',
 'enyware',
 'vidio',
 'bekus',
 'grate',
 'oners',
 'optmi',
 'favtit',
 'catched',
 'tipet',
 "did't",
 'peroger',
 'gams',
 'snekt',
 'scard',
 'robet',
 'cheeg',
 'mad',
 'fameo',
 'sos',
 'dreme',
 'toger',
 'beposios',
 'funnyest',
 'spaseship',
 'refridgeorator',
 'horrer',
 'frst',
 'cach',
 'smoth',
 'stell',
 'sownd',
 'pratis',
 'pigens',
 'mowth',
 'smald',
 'blu',
 'ther',
 'prpl',
 'confidind',
 'hase',
 'ticettes',
 'stroung',
 'ranck',
 'gust',
 'mak',
 'verchrl',
 'xspladed',
 'quikly',
 'infinit',
 'crasy',
 'egs',
 'raisan',
 'loot',
 'texes',
 'posin',
 'pare',
 'charg',
 'og',
 'gut',
 'suter',
 'butery',
 'waerd',
 'flay',
 'glas',
 'mansiuon',
 'seting',
 'shewy',
 'dun',
 'bikse',
 'trid',
 'ive',
 'gam',
 'watir',
 'marbols',
 'burs',
 'dident',
 'choclet',
 'ple',
 'train',
 'bie',
 'sode',
 'wildernis',
 'bel',
 'loking',
 'chese',
 'stadeum',
 'favrit',
 'stof',
 'befor',
 'flawer',
 'ech',
 'tedeeber',
 'giroff',
 'creat',
 'wokt',
 'beter',
 'thout',
 'puncht',
 'plases',
 'revisen',
 'whay',
 'be',
 'day',
 'forst',
 'interestinf',
 'suddently',
 'namd',
 'carit',
 'rit',
 'axed',
 'beal',
 'intell',
 'groud',
 'hols',
 'hous',
 'woking',
 'spiting',
 'riad',
 'tings',
 'somple',
 'pagis',
 'gow',
 'therd',
 'acurit',
 'botel',
 'rian',
 'dallfin',
 'dit',
 'breevu',
 'redea',
 'tride',
 'stending',
 'nam',
 'fond',
 'cors',
 'wr',
 'samtams',
 'men',
 'flut',
 'soot',
 'plas',
 'waet',
 'programer',
 'hav',
 'hiting',
 'fel',
 'very',
 'inventi',
 'mufin',
 'sleed',
 'lif',
 'en',
 'lwebron',
 'sower',
 'softe',
 'sqweeking',
 'valcano',
 'nuw',
 'vido',
 'strit',
 'skreem',
 'mack',
 'trened',
 'itz',
 'marckr',
 'bat',
 'solty',
 'luky',
 'samon',
 'midul',
 'brite',
 'dctor',
 'explanstopm',
 'tietts',
 'eseay',
 'wont',
 'sentenses',
 'cheses',
 'gymnasteks',
 'eta',
 'crecher',
 'tempechers',
 'frirends',
 'yoos',
 'stick',
 'fil',
 'haos',
 'informs',
 'fether',
 'coces',
 'evr',
 'favurite',
 'beech',
 'cen',
 'docter',
 'cand',
 'chimne',
 'techden',
 'hir',
 'hapy',
 'howse',
 'bicos',
 'mat',
 'robi',
 'haded',
 'adventur',
 'magick',
 'aftr',
 'ferstcopet',
 'evry',
 'feard',
 'becas ',
 'copet',
 'glave',
 'famoly',
 'therecer',
 'wuod',
 'tetcnoglye',
 'tha',
 'codd',
 'preform',
 'sherching',
 'likrorish',
 'for evr',
 'csim',
 'scraches',
 'thes',
 'fownd',
 'dres',
 'becas',
 'to',
 'boll',
 'gou',
 'werd',
 'buteful',
 'wer',
 'nids',
 'my',
 'spead',
 'mose',
 'sivilise',
 'camoflage',
 'kiks',
 'bother',
 'recshed',
 'lolipop',
 'thousen',
 'cumpudr',
 'scientitst',
 'caming',
 'frait',
 'seads',
 'liek',
 'priins',
 'sucsses',
 'librareay',
 'optmis',
 'mounth',
 'firends',
 'oun',
 'frins',
 'bae',
 'lick',
 'stichs',
 'bookmrc',
 'evented',
 'robat',
 'ferst',
 'sors',
 'frenly',
 'fiered',
 'fes',
 'pergamer',
 'leps',
 'thir',
 'programes',
 'evrey',
 'exept',
 'gay',
 'butyfol',
 'wheal',
 'journel',
 'wold',
 'furgot',
 'flote',
 'cathing',
 'pople',
 'caput',
 'versons',
 'tiy',
 'marvills',
 'chanch',
 'bak',
 'climd',
 'hop',
 'cuf av',
 'anolying',
 'gugl',
 'meen',
 'crad',
 'wheth',
 'trane',
 'faviort',
 'swin',
 'rases',
 'moove',
 'asome',
 'alow',
 'dackpack',
 'chayses',
 'mirr',
 'bot',
 'gluve',
 'fas',
 'gat',
 'univeres',
 'coud',
 'sweap',
 'robos',
 'bekame',
 'bady',
 'trecotriding',
 'allot',
 'girel',
 'tonit',
 'swors',
 'wiht',
 'yer',
 'agenst',
 'elefant',
 'wut',
 'skream',
 'plase',
 'dolr',
 'thy',
 'than',
 'langu',
 'teri',
 'exsited',
 'frenid',
 'kik',
 'souds',
 'opsticol',
 'set',
 'ckudly',
 'crassy',
 'traped',
 'Rodo',
 'scoot',
 'evirthing',
 'dose',
 'fiting',
 'hrt',
 'whater',
 'poping',
 'fortunet',
 'chicen',
 'dolfins',
 'pictur',
 'wand',
 'boiesechools',
 'uv',
 'deach',
 'whant',
 'remeber',
 'woching',
 'tryed',
 'kindirgartin',
 'hikeing',
 'sayler',
 'cald',
 'riag',
 'halewen',
 'gunn',
 'gound',
 'lik',
 'brot',
 'gils',
 'avery',
 'scool',
 'donats',
 'sid',
 'prsan',
 'tokeg',
 'beinning',
 'tim',
 'hirow',
 'skiterles',
 'frind',
 'ware',
 'fune',
 'wonderd',
 "Luigie's",
 'pupee',
 'tam',
 'ice crem',
 'whore',
 'mamils',
 'calrful',
 'thougt',
 'dech',
 'anether',
 'facs',
 'revord',
 'octmis',
 'geting',
 'abat',
 'ran ',
 'tomato',
 'meet',
 'wonld',
 'cam',
 'thay',
 'siting',
 'inventid',
 'sum',
 'runing',
 'hoo',
 'Halleween',
 'trieing',
 'wrms',
 'explstopm',
 'tokes',
 'slep',
 'scaches',
 'tectnogly',
 'du',
 'evended',
 'clas',
 'wod',
 'littol',
 'programmr',
 'wy',
 'Haloween',
 'scorpen',
 'goeto',
 'trafik',
 ...}

In [137]:

# def Spelling(queriesList):
    
# #     setQueries = df['query'].tolist()
    
#     wsle=pd.read_csv('data/KidSpell/Web_Search_Lab_Errors.csv',
#                 usecols=['spelling']).spelling.tolist()
    
#     wsie=pd.read_csv('data/KidSpell/Web_Search_Informal_Errors.csv',
#                 usecols=['spelling']).spelling.tolist()
    
#     ewe=pd.read_csv('data/KidSpell/Essay_Writing_Errors.csv',
#                 usecols=['Spelling']).Spelling.tolist()
    
#     kidsMispelled= set(wsle+wsie+ewe)
    
# #--------------------------------------------------------------------------------

#     spell = SpellChecker()
#     spellingError = []
#     oneOffError = []
#     kidsError = []
#     misspelledCol = []

#     netModifiers = ['www', 'http', '.com', '.net', '.edu', '.org', '.gov', '.co', '.mil', '.com']

#     with tqdm(total = len(queries) ) as pbar:
#         for query in queries:
#             query =  query.translate(str.maketrans('', '', string.punctuation)) # -- remove all panctuations
#             website = [mod for mod in netModifiers if(mod in query)] # --- save the netModifiers in the queries
#             if not website:
#                 misspelledWords = "";
#                 try:
#                     lang = detect(query) # -- detects a language 
#                     misspelled = spell.unknown(query.split(" ")) # -- unknown gives the misspelled words
#                     found = 0
#                     oneOff = 0
#                     kidsMis = 0
#                     for word in misspelled:
#                         misspelledWords += ", " + word # -- concatinating the misspelled words
#                         if word in kidsMispelled:
#                             kidsMis +=1
#                         candid = spell.candidates(word) # candidates() displays the set of words that are close to the word entered
#     #                     print(candid)
#     #                     print("-------start edits-----------------")
#                         edits = spell.edit_distance_1(word)
#     #                     print(edits)
#     #                     print("-----------end edits-------------")

#                         for can in candid:
#                             if can in edits:
#                                 oneOff += 1
#                             break
#     #                     print(word +' Out')
#                     oneOffError.append(oneOff)
#                     spellingError.append(len(misspelled))
#                     kidsError.append(kidsMis)
#     #                 misspelledCol.append(misspelledWords)

#                 except:
#     #                 print(misspelled)
#                     oneOffError.append(-1)
#                     spellingError.append(-1)
#                     kidsError.append(-1)
#     #                 misspelledCol.append(misspelledWords)

#             else:
#                 spellingError.append(0)
#                 oneOffError.append(0)
#                 kidsError.append(0)

#             pbar.update()

#     spelling = pd.DataFrame(data=spellingError, columns = ['numSpellingErrors'])
#     spelling['query'] = queries
#     spelling['offByOne'] = oneOffError
#     spelling['kidsError'] = kidsError



# # ----------------------------------------------------------------------------
    
#     return spelling

In [ ]:
# a = Spelling(queries)
# a.head(10)

## Punct and Casing

In [230]:
def Punct_Spell(query_list):
    invalidcharacters= set(['!', ',', '.', '?'])
    punct = []
    casing = []
    with tqdm(total = len(queries) ) as pbar:
        for query in queries:

            if any(char in invalidcharacters for char in query):
                punct.append(1)
            else: 
                punct.append(0)

            if query.islower():
                casing.append(0)
            else:
                casing.append(1)
            pbar.update()

    allFeatures['punct'] =  punct
    allFeatures['casing'] = casing
    
    return allFeatures

In [231]:
Punct_Spell(queries)

100%|██████████| 4746/4746 [00:00<00:00, 215474.35it/s]

                                  query  class  punct  casing
0                   US civil war causes      0      0       1
1                        scooter brands      0      0       0
2               scooter brands reliable      0      0       0
3                               scooter      0      0       0
4                         scooter cheap      0      0       0
...                                 ...    ...    ...     ...
4741                    House of dreams      1      0       1
4742  When did Desmond doss get married      1      0       1
4743                                  H      1      0       1
4744                find fact about dog      1      0       0
4745                                kid      1      0       0

[4746 rows x 4 columns]

## Concreteness

In [234]:
def absConcFeat(queries):
    
    word_concreteness = pickle.load( open( "data/concreteness/word_concreteness.p", "rb" ) )
    word_concreteness['word']=word_concreteness['word'].str.lower() 

    aw = word_concreteness[word_concreteness['label']=='abstract']
    cw = word_concreteness[word_concreteness['label']=='concrete']

    abW = []
    coW = []
    for w_a in aw['word']:
        abW.append(w_a)
    for w_c in cw['word']:
        coW.append(w_c)

    absrtCount = []
    concCount = []
    with tqdm(total=len(queries)) as pbar:
        for query in queries:

            a_countWord = 0
            c_countWord = 0
            wordCount = 0
            for word in query.split(' '):
                word.lower()
                wordCount +=1
                if word in abW:
                    a_countWord +=1
                if word in coW:
                    c_countWord +=1

            absrtCount.append(a_countWord/wordCount)
            concCount.append(c_countWord/wordCount)
            pbar.update()

    allFeatures['ratioAbs'] = absrtCount
    allFeatures['ratioConc'] = concCount

    return allFeatures

In [235]:
absConcFeat(queries)

100%|██████████| 4746/4746 [00:04<00:00, 951.25it/s]

,query,class,punct,casing,ratioAbs,ratioConc
0,US civil war causes,0,0,1,0.250000,0.250000
1,scooter brands,0,0,0,0.000000,0.500000
2,scooter brands reliable,0,0,0,0.333333,0.333333
3,scooter,0,0,0,0.000000,1.000000
4,scooter cheap,0,0,0,0.500000,0.500000
...,...,...,...,...,...,...
4741,House of dreams,1,0,1,0.333333,0.000000
4742,When did Desmond doss get married,1,0,1,0.500000,0.000000
4743,H,1,0,1,0.000000,0.000000
4744,find fact about dog,1,0,0,0.750000,0.250000
4745,kid,1,0,0,0.000000,1.000000

## LingFeat

Later: Rerurn the ling featcode, all of them, get the entire dataframe then one can extrat what they need

In [236]:
def ling_feat(queries): #--- this query_list parameter is for fn synstax, it won't be as the feat are extracted

    #-- queries and extracted lingFeat  
    lingFeat_data = pd.read_csv('Data/castsventrecSQS_All_lingFeat_unstructured_new.csv') 

    # The following function extracts transform the key of dictonaries into the columns of a 
    # dataframe and their corresponding values into their corresponding entries

    def feat_extract(dataName, featName):
        """ 
        Steps:
        1. Get the keys of a dict to be used as columns in this dataframe.
        2. Initially the dictionally are stings. eval() and .replace() are used to convert the str into a dict

        """
        cols = eval(dataName[featName][0].replace("'", "\""))
        df_tot = pd.DataFrame(columns = list(cols.keys()))
        for i in range(len(dataName)):
            f = eval(dataName[featName][i].replace("'", "\""))
            val = np.array(list(f.values())).reshape(-1,1).T # reshape the dict value to become the column entries
            df = pd.DataFrame(data = val, columns = list(f.keys()))
            df_tot = pd.concat([df_tot, df])

        return df_tot

    # preprocess
    preprocess = feat_extract(lingFeat_data,'preprocess')
    # Discourse (Disco)
    EntityDensityF = feat_extract(lingFeat_data,'EnDF_')
    EntityGridF = feat_extract(lingFeat_data,'EnGF_')
    # Syntactic (Synta)
    PhrasalF = feat_extract(lingFeat_data,'PhrF_')
    TreeStructureF = feat_extract(lingFeat_data,'TrSF_')
    PartOfSpeechF = feat_extract(lingFeat_data,'POSF_')
    # Lexico Semantic (LxSem)
    TypeTokenRatioF = feat_extract(lingFeat_data,'TTRF_')
    VariationRatioF = feat_extract(lingFeat_data,'VarF_')
    PsycholinguisticF = feat_extract(lingFeat_data,'PsyF_')
    WordFamiliarityF = feat_extract(lingFeat_data,'WorF_')
    # Shallow Traditional (ShTra)
    ShallowF = feat_extract(lingFeat_data,'ShaF_')
    TraditionalFormulas = feat_extract(lingFeat_data,'TraF_')

    allLingFeat = pd.concat([preprocess, 
                        EntityDensityF, 
                        EntityGridF, 
                        PhrasalF, 
                        TreeStructureF, 
                        PartOfSpeechF, 
                        TypeTokenRatioF, 
                        VariationRatioF, 
                        PsycholinguisticF, 
                        WordFamiliarityF, 
                        ShallowF, 
                        TraditionalFormulas], axis=1) 
#     allFeatures = pd.concat([allFeatures, allLingFeat], axis=1)
    
    return allLingFeat

In [237]:
allLingFeat = ling_feat(queries)
allLingFeat.reset_index(drop=True, inplace=True)

In [238]:
allLingFeat

,n_token,n_sent,to_EntiM_C,as_EntiM_C,at_EntiM_C,to_UEnti_C,as_UEnti_C,at_UEnti_C,ra_SSTo_C,ra_SOTo_C,...,as_Sylla_C,at_Sylla_C,as_Chara_C,at_Chara_C,FleschG_S,AutoRea_S,ColeLia_S,SmogInd_S,Gunning_S,LinseaW_S
0,4,2,1.0,0.5,0.250000,1.0,0.5,0.250000,0.0,0.0,...,2.0,1.000000,8.0,4.000000,2.890000,-1.910,-15.803568,1.414214,-0.50,0.00
1,3,2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,1.5,1.000000,6.5,4.333333,-15.005000,-25.455,-15.804156,0.000000,-0.75,-0.25
2,4,2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,2.5,1.250000,10.5,5.250000,-14.810000,-25.270,-15.803568,0.000000,-0.50,0.00
3,2,2,0.0,0.0,0.000000,0.0,0.0,0.000000,NaN,NaN,...,1.0,1.000000,3.5,3.500000,-15.200000,-25.640,-15.804744,0.000000,-1.00,-0.50
4,3,2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,1.5,1.000000,6.0,4.000000,-15.005000,-25.455,-15.804156,0.000000,-0.75,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,3,2,1.0,0.5,0.333333,1.0,0.5,0.333333,0.0,0.0,...,1.0,0.666667,6.5,4.333333,-15.005000,-25.455,-15.804156,0.000000,-0.75,-0.25
4742,7,2,1.0,0.5,0.142857,1.0,0.5,0.142857,0.0,0.0,...,4.0,1.142857,14.0,4.000000,-0.739286,-1.355,-15.801804,1.414214,0.25,0.75
4743,1,2,0.0,0.0,0.000000,0.0,0.0,0.000000,NaN,NaN,...,0.0,0.000000,0.5,1.000000,-15.395000,-25.825,-15.805332,0.000000,-1.25,-0.75
4744,5,2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,...,2.5,1.000000,8.0,3.200000,-2.815000,-6.397,-15.802980,1.000000,-0.25,0.25
4745,2,2,0.0,0.0,0.000000,0.0,0.0,0.000000,NaN,NaN,...,0.5,0.500000,1.5,1.500000,-15.200000,-25.640,-15.804744,0.000000,-1.00,-0.50

In [239]:
allFeatures = pd.concat([allFeatures, allLingFeat], axis=1)
allFeatures

,query,class,punct,casing,ratioAbs,ratioConc,n_token,n_sent,to_EntiM_C,as_EntiM_C,...,as_Sylla_C,at_Sylla_C,as_Chara_C,at_Chara_C,FleschG_S,AutoRea_S,ColeLia_S,SmogInd_S,Gunning_S,LinseaW_S
0,US civil war causes,0,0,1,0.250000,0.250000,4,2,1.0,0.5,...,2.0,1.000000,8.0,4.000000,2.890000,-1.910,-15.803568,1.414214,-0.50,0.00
1,scooter brands,0,0,0,0.000000,0.500000,3,2,0.0,0.0,...,1.5,1.000000,6.5,4.333333,-15.005000,-25.455,-15.804156,0.000000,-0.75,-0.25
2,scooter brands reliable,0,0,0,0.333333,0.333333,4,2,0.0,0.0,...,2.5,1.250000,10.5,5.250000,-14.810000,-25.270,-15.803568,0.000000,-0.50,0.00
3,scooter,0,0,0,0.000000,1.000000,2,2,0.0,0.0,...,1.0,1.000000,3.5,3.500000,-15.200000,-25.640,-15.804744,0.000000,-1.00,-0.50
4,scooter cheap,0,0,0,0.500000,0.500000,3,2,0.0,0.0,...,1.5,1.000000,6.0,4.000000,-15.005000,-25.455,-15.804156,0.000000,-0.75,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,House of dreams,1,0,1,0.333333,0.000000,3,2,1.0,0.5,...,1.0,0.666667,6.5,4.333333,-15.005000,-25.455,-15.804156,0.000000,-0.75,-0.25
4742,When did Desmond doss get married,1,0,1,0.500000,0.000000,7,2,1.0,0.5,...,4.0,1.142857,14.0,4.000000,-0.739286,-1.355,-15.801804,1.414214,0.25,0.75
4743,H,1,0,1,0.000000,0.000000,1,2,0.0,0.0,...,0.0,0.000000,0.5,1.000000,-15.395000,-25.825,-15.805332,0.000000,-1.25,-0.75
4744,find fact about dog,1,0,0,0.750000,0.250000,5,2,0.0,0.0,...,2.5,1.000000,8.0,3.200000,-2.815000,-6.397,-15.802980,1.000000,-0.25,0.25
4745,kid,1,0,0,0.000000,1.000000,2,2,0.0,0.0,...,0.5,0.500000,1.5,1.500000,-15.200000,-25.640,-15.804744,0.000000,-1.00,-0.50

# Test a .py

In [244]:
import featExtractMod as fEM

ModuleNotFoundError: No module named 'featExtractMod'

In [246]:
fEM.absConcFeat(queries)

NameError: name 'fEM' is not defined

In [ ]:
# ----- NOT COMPLETED ---------------------------

def drop_duplicate(query):
    
    duplicated_columns=query.columns.duplicated()
    
    new_df=query.loc[:, ~duplicated_columns]
    
    return new_df